*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(5, 5, 10);

}

.general-container{
    
    color: white;

}

.side-bar-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(10, 7, 15);
   
    
}


.side-bar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(10, 7, 15);
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 250px;
    border-right:1px solid grey;
    
}

.side-bar-button{
    color:white;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background: rgb(10, 7, 15);
    border: none;
    font-size: 20px;
    cursor: pointer;

}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background-color: rgb(10, 7, 15);
    margin-left: 250px;
}

/*
.header-button{
    padding: 20px 20px;
    font-size: 10px;
    background-color: rgb(34, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255);
}
*/
.life-manager-title{
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-left: 600px;
    background-color: rgb(4, 4, 24,0);
}

.content{
   display: none;
}

.content.show{
    display: block;
    
 }

.main{
    display: flex;
    margin-left: 300px;
    margin-right: 350px;
    align-items: center;
    height: 600px;
    justify-content: space-evenly;
    border-radius: 4px;
    flex-direction: column;
    width: 1200px;
}
    
.title{
    display: flex;
    margin-left: 250px;
    font-size: 40px;
    padding: 40px 20px 20px 40px;
    margin-right: 350px;
}

.main-container{
    display: flex;
    padding: 30px 30px;
    height: 100px;
    width: 900px;
    border: 1px solid grey;
    border-radius: 4px;
}

.to-do-list-label{
    display: flex;
    align-items: start;
    margin-left: 300px;
    margin-right: 350px;
    height: 90px;
    border: 1px solid grey;
    border-radius: 4px;
}

.to-do-list-label > label{
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
}

.to-do-list-label > input{
    margin-top: 20px;
    background-color: white;
    border-radius: 2px;
    border: none;
    padding: 10px 10px 10px 10px;
}

#task-description-input{
    width: 700px;
    
}

.task{
    
    border: 1px solid grey;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    margin-left: 300px;
    height: 100px;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    margin-right: 350px;
    gap: 20px;
}

.task button{

    color:white;
    gap: 10px;
    position: relative;
    height: 40px;
    width: 80px;
    border: 1px solid grey;
    border-radius: 4px;

}

.tasksTitle{
    margin-left: 300px;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    margin-top: 20px;
    margin-right: 350px;
    height: 50px;
    border-radius: 4px;
}

.tasksTitle h1{
    margin-left: 120px;
    font-size: 20px;
}

.tasksTitle h2{
    margin-left: 785px;
    font-size: 20px;
}

.task h3{
    margin-left: 20px;
    position: absolute;
      
}

.task h4{
    margin-left: 1000px;
    margin-right: 40px;  
}

.submit-task-button{
    width: 80px;
    height: 30px;
    margin-top: 22px;
    margin-left: 10px;
    color: white;
    border-color: white;

}

.to-do-list-bar{
    display: flex;
    align-items: center;
    margin-left: 1590px;
    position: fixed;
    top:0;
    margin-top: 100px;
    flex-direction: column;
    height: 700px;
    width: 300px;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 4px;
}

.right-bar-priority-task{
    display: flex;
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
}


.right-bar-priority-task h4{

    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid grey;
    
}

.right-bar-priority-task h3{

    margin-top: 20px;
    
}





.task-form{
    display: flex;
    align-items: center;
    margin-left: 1800px;
    position: fixed;
    top:0;
    margin-top: 100px;
    flex-direction: column;
    height: 700px;
    width: 300px;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 4px;
}

.to-do-list-bar-title{
    display: flex;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
